body{
    background-image: url('https://cdn.pixabay.com/photo/2017/06/30/22/44/strawberry-2460078_640.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.ah-words-wrapper{
    color: purple;
}